body{
    background-color: aqua;

}
main .image1{
    display: flex;
}
main .image2{
    display: flex;
    gap: 20px;
    width: 70%;
}
card{
    background-color: lightblue;
    border-radius: 5px;
    padding: 20px;
}
.img{
    text-align: center;
    background-color: lightblue;
    width: 100%;
    margin: 0;
    

    
    
}
.img img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

